{
  "plugins": [
    "transform-vue-jsx",
    "transform-runtime",
    [
      "prismjs",
      {
        "css": true,
        "languages": ["javascript", "css", "markup", "scss"],
        "plugins": ["copy-to-clipboard", "show-language", "unescaped-markup"],
        "theme": "okaidia"
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }
    ],
    "stage-2"
  ]
}
