@charset "utf-8";
/*commmon*/

strong {
  display: block;
  margin: 30px 0 10px;
}

.tit {
  font-weight: bold;
}

.des {
  color: #666;
}

.warning {
  background-color: #ff9523;
}

.primary {
  background-color: #1ca9ff;
}

.danger {
  background-color: #ff5757;
}

.info {
  background-color: #e1d8d8;
}

.indent2 {
  text-indent: 2em;
}

.indent4 {
  text-indent: 4em;
}

.indent6 {
  text-indent: 6em;
}

.pad10 {
  padding: 10px;
}

/*commmon*/

/*image-text*/
.demo1_1 {
  font-size: 0;
  img {
    vertical-align: middle;
  }
  span {
    display: inline-block;
    max-width: 120px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
}

.demo1_2 {
  font-size: 0;
  img {
    vertical-align: middle;
  }
  div {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
  p {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
}

.demo1_3 {
  font-size: 0;
  img {
    vertical-align: middle;
  }
  div {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
  p {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
}

.demo1_4 {
  font-size: 0;
  img {
    vertical-align: middle;
  }
  div {
    max-width: 120px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
  }
  p {
    &.tit {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.des {
      display: -webkit-box;
      height: 44px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.demo1_5 {
  font-size: 0;
  img {
    vertical-align: middle;
  }
  div {
    max-width: 120px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
  }
  p {
    &.tit {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.des {
      position: relative;
      max-height: 2.7em;
      overflow: hidden;
      &::before {
        content: "...";
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        width: 1.5em;
        padding-left: 3px;
        box-sizing: border-box;
        background-color: white;
      }
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: white;
      }
    }
  }
}

.demo1_6 {
  font-size: 0;
  img {
    vertical-align: middle;
  }
  div {
    max-width: 120px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
  }
  p {
    &.tit {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.des {
      visibility: hidden;
    }
  }
}

/*image-text*/

/*icon-text*/
.demo2_1 {
  display: inline-block;
  background: url(https://p4.ssl.qhimg.com/t01b7ac355f2e6eda37.png) no-repeat 0
    center;
  padding-left: 18px;
  &:after {
    content: attr(data-likenum);
  }
}

/*icon-text*/

/*special-icon*/
.demo3_2 {
  img {
    width: 20px;
    height: 20px;
  }
}

.demo3_3 {
  .close {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    &::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  .close.thick::before,
  .close.thick::after {
    height: 2px;
  }
  .close::before,
  .close::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    background: #000;
  }
}

.demo3_4 {
  canvas {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
  }
}

.demo3_6 {
  .close-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: -webkit-linear-gradient(
        -45deg,
        transparent 0%,
        transparent 46%,
        black 46%,
        black 56%,
        transparent 56%,
        transparent 100%
      ),
      -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, black 46%, black
            56%, transparent 56%, transparent 100%);
    background-color: #fff;
  }
}

/*special-icon*/

/*css3 loading*/
.demo8_1 {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  & > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.demo8_2 {
  width: 70px;
  text-align: center;
  & > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.demo8_3 {
  position: relative;
  div {
    width: 24px;
    height: 24px;
    border: 2px solid #000;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-animation: ploading 0.6s linear infinite;
    animation: ploading 0.6s linear infinite;
  }
}

@keyframes ploading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ploading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*css3 loading*/

/*css3 scrollbar*/
.demo9_1 {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
  }
}

/*定义滚动条轨道 内阴影+圆角*/
/*定义滑块 内阴影+圆角*/
.demo9_2 {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to left, #96a6bf, #63738c);
    box-shadow: inset 0 0 1px 1px #5c6670;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
  }
}

.demo9_3 {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to left, #fff, #e4e4e4);
    border: 1px solid #aaa;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
  }
}
/*扩展*/
/* .demo9_1::-webkit-scrollbar-track-piece:start {
			background: red;
			滚动条上半边或左半边的背景色
		} */
/* .demo9_1::-webkit-scrollbar-track-piece:end {
			滚动条下半边或右半边的背景色
			background: red;
		} */
/* .demo9_1::-webkit-scrollbar-button {滚动条的轨道的两端按钮
			background: green;
		} */
/*扩展*/
.demo9_1,
.demo9_2,
.demo9_3 {
  width: 200px;
  max-height: 200px;
  overflow: auto;
}
