@charset "utf-8";
/*commmon*/

strong {
  display: block;
  margin: 30px 0 10px;
}

.tit {
  font-weight: bold;
}

.des {
  color: #666;
}

.warning {
  background-color: #ff9523;
}

.primary {
  background-color: #1ca9ff;
}

.danger {
  background-color: #ff5757;
}

.info {
  background-color: #e1d8d8;
}

.indent2 {
  text-indent: 2em;
}

.indent4 {
  text-indent: 4em;
}

.indent6 {
  text-indent: 6em;
}

.pad10 {
  padding: 10px;
}

/*commmon*/

/*image-text*/
.demo1_1 {
  font-size: 0;
  img {
    vertical-align: middle;
  }
  span {
    display: inline-block;
    max-width: 120px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
}

.demo1_2 {
  font-size: 0;
  img {
    vertical-align: middle;
  }
  div {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
  p {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
}

.demo1_3 {
  font-size: 0;
  img {
    vertical-align: middle;
  }
  div {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
  p {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
}

.demo1_4 {
  font-size: 0;
  img {
    vertical-align: middle;
  }
  div {
    max-width: 120px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
  }
  p {
    &.tit {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.des {
      display: -webkit-box;
      height: 44px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.demo1_5 {
  font-size: 0;
  img {
    vertical-align: middle;
  }
  div {
    max-width: 120px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
  }
  p {
    &.tit {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.des {
      position: relative;
      max-height: 2.7em;
      overflow: hidden;
      &::before {
        content: "...";
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        width: 1.5em;
        padding-left: 3px;
        box-sizing: border-box;
        background-color: white;
      }
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: white;
      }
    }
  }
}

.demo1_6 {
  font-size: 0;
  img {
    vertical-align: middle;
  }
  div {
    max-width: 120px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
  }
  p {
    &.tit {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.des {
      visibility: hidden;
    }
  }
}

/*image-text*/

/*icon-text*/
.demo2_1 {
  display: inline-block;
  background: url(https://p4.ssl.qhimg.com/t01b7ac355f2e6eda37.png) no-repeat 0
    center;
  padding-left: 18px;
  &:after {
    content: attr(data-likenum);
  }
}

/*icon-text*/

/*css3 scrollbar*/
.demo9_1 {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
  }
}

/*定义滚动条轨道 内阴影+圆角*/
/*定义滑块 内阴影+圆角*/
.demo9_2 {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to left, #96a6bf, #63738c);
    box-shadow: inset 0 0 1px 1px #5c6670;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
  }
}

.demo9_3 {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to left, #fff, #e4e4e4);
    border: 1px solid #aaa;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
  }
}
/*扩展*/
/* .demo9_1::-webkit-scrollbar-track-piece:start {
			background: red;
			滚动条上半边或左半边的背景色
		} */
/* .demo9_1::-webkit-scrollbar-track-piece:end {
			滚动条下半边或右半边的背景色
			background: red;
		} */
/* .demo9_1::-webkit-scrollbar-button {滚动条的轨道的两端按钮
			background: green;
		} */
/*扩展*/
.demo9_1,
.demo9_2,
.demo9_3 {
  width: 200px;
  max-height: 200px;
  overflow: auto;
}
