@charset "utf-8";

/*commmon*/
body{
	padding: 20px;
}

strong{
	display:block;
	margin: 30px 0 10px;
}

.tit{
	font-weight: bold;
}

.des{
	color:#666;
}

.warning{
	background-color: #ff9523;
}

.primary{
	background-color: #1ca9ff;
}

.danger{
	background-color: #ff5757;
}

.info{
	background-color: #e1d8d8;
}

.indent2{
	text-indent: 2em;
}

.indent4{
	text-indent: 4em;
}

.indent6{
	text-indent: 6em;
}

.pad10{
	padding: 10px;
}


/*commmon*/

/*image-text*/
.demo1_1 {
	font-size: 0;
	img {
		vertical-align: middle;
	}
	span {
		display: inline-block;
		max-width: 120px;
		font-size: 16px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: middle;
	}
}

.demo1_2 {
	font-size: 0;
	img {
		vertical-align: middle;
	}
	div {
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
	}
	p {
		max-width: 120px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: middle;
	}
}

.demo1_3 {
	font-size: 0;
	img {
		vertical-align: middle;
	}
	div {
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
	}
	p {
		max-width: 120px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: middle;
	}
}

.demo1_4 {
	font-size: 0;
	img {
		vertical-align: middle;
	}
	div {
		max-width: 120px;
		font-size: 16px;
		display: inline-block;
		vertical-align: middle;
	}
	p {
		&.tit {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&.des {
			display: -webkit-box;
			height: 44px;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}

.demo1_5 {
	font-size: 0;
	img {
		vertical-align: middle;
	}
	div {
		max-width: 120px;
		font-size: 16px;
		display: inline-block;
		vertical-align: middle;
	}
	p {
		&.tit {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&.des {
			position: relative;
			max-height: 2.7em;
			overflow: hidden;
			&::before {
				content: '...';
				position: absolute;
				z-index: 1;
				bottom: 0;
				right: 0;
				width: 1.5em;
				padding-left: 3px;
				box-sizing: border-box;
				background-color: white;
			}
			&::after {
				content: '';
				position: absolute;
				z-index: 2;
				width: 100%;
				height: 100%;
				background-color: white;
			}
		}
	}
}

.demo1_6 {
	font-size: 0;
	img {
		vertical-align: middle;
	}
	div {
		max-width: 120px;
		font-size: 16px;
		display: inline-block;
		vertical-align: middle;
	}
	p {
		&.tit {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&.des{
			visibility: hidden;
		}
	}
}

/*image-text*/

/*icon-text*/
.demo2_1{
	display: inline-block;
	background: url(https://p4.ssl.qhimg.com/t01b7ac355f2e6eda37.png) no-repeat 0 center;
	padding-left:18px;
	&:after{
		content: attr(data-likenum);
	}
}

/*icon-text*/

/*special-icon*/
.demo3_2{
	img{
		width:20px;
		height:20px;
	}
}

.demo3_3{
	.close {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		&::before {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&::after {
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
	.close.thick::before, .close.thick::after {
		height: 2px;
	}
	.close::before, .close::after {
		content: '';
		position: absolute;
		width: 100%;
		top: 50%;
		background: #000;
	}

}

.demo3_4{
	canvas {
		width:20px;
		height:20px;
		background-color:#ffffff;
	}
}

.demo3_6{
	.close-icon{
		display:inline-block;
		width:20px;
		height:20px;
		background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, black 46%, black 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, black 46%, black 56%,transparent 56%, transparent 100%);
		  background-color: #fff;
	}
}

/*special-icon*/

/*triangle-icon*/

.demo4_1{
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #000;
}

.demo4_2{
	width: 0px;
	border-width: 20px 40px 60px 80px;
	border-style: solid;
	border-top-color: black;
	border-right-color: red;
	border-bottom-color: yellow;
	border-left-color: blue;
}

.demo4_4 {
	position: relative;
	width: 240px;
	height: 60px;
	line-height: 60px;
	background: #e9fbe4;
	box-shadow: 1px 2px 3px #e9fbe4;
	border: 1px solid #c9e9c0;
	border-radius: 4px;
	text-align: center;
	color: #0c7823;
	.triangle-border {
		position: absolute;
		left: 30px;
		overflow: hidden;
		width: 0;
		height: 0;
		border-width: 10px;
		border-style: solid dashed dashed dashed;
	}
	.tb-border {
		bottom: -20px;
		border-color: #c9e9c0 transparent transparent transparent;
	}
	.tb-background {
		bottom: -19px;
		border-color: #e9fbe4 transparent transparent transparent;
	}
}


/*triangle-icon*/

/*selector*/
:root {
	background-color: #eee;
}
[class~="demo5_1"],[class~="demo5_2"],[class~="demo5_3"],[class~="demo5_4"],[class~="demo5_5"]
		,[class~="demo5_10"],[class~="demo5_11"] {
	width: 500px;
}
.demo5_1 {
	& > p {
		background-color: #000;
		color: #fff;
	}
}
.demo5_2 {
	div {
		&.demo5_2_2 {
			& + div {
				background-color: #000;
				color: #fff;
			}
		}
	}
}
.demo5_3 {
	div {
		&.demo5_3_2 {
			& ~ div {
				background-color: #000;
				color: #fff;
			}
		}
	}
}
.demo5_4 {
	div[title] {
		background-color: red;
	}
	div[data-abc="123"] {
		background-color: purple;
	}
	div[data-abc~="456"] {
		background-color: pink;
	}
	div[data-abc|="456"] {
		background-color: yellow;
	}
	div[data-abc^="5"] {
		background-color: orange;
	}
	div[data-abc$="8"] {
		background-color: gray;
	}
	div[data-abc*="a"] {
		background-color: green;
	}
}
.demo5_5 {
	a {
		display: block;
		width: 100px;
	}
}
.demo5_5_1 {
	&:link {
		color: seagreen;
	}
}
.demo5_5_2 {
	&:visited {
		color: orangered;
	}
}
.demo5_5_3 {
	&:hover {
		color: dodgerblue;
	}
}
.demo5_5_4 {
	&:active {
		color: violet;
	}
}
.demo5_5_5 {
	&:disabled {
		background-color: lightgray;
	}
}
.demo5_5_6 {
	&:checked {
		opacity: .5;
	}
}
.demo5_5_7 {
	&::selection {
		color: tomato;
	}
}
.demo5_5_8 {
	&:focus {
		color: turquoise;
	}
}
.demo5_5_9 {
	&:lang(zh) {
		color: royalblue;
	}
}
.demo5_6 {
	div {
		&:nth-child(3) {
			background-color: #000;
			color: #fff;
		}
	}
}
.demo5_7 {
	div {
		&:nth-child(n+2) {
			background-color: #000;
			color: #fff;
		}
	}
}
.demo5_8 {
	div {
		&:nth-child(even) {
			background-color: #000;
			color: #fff;
		}
	}
}
.demo5_9 {
	div {
		&:nth-last-child(1) {
			background-color: #000;
			color: #fff;
		}
	}
}
.demo5_10 {
	p {
		&:nth-child(1) {
			background-color: #000;
			color: #fff;
		}
	}
}
.demo5_11 {
	p {
		&:nth-of-type(1) {
			background-color: #000;
			color: #fff;
		}
	}
}
.demo5_12 {
	div {
		&:first-child {
			background-color: #000;
			color: #fff;
		}
	}
}
.demo5_13 {
	div {
		&:only-child {
			background-color: #000;
			color: #fff;
		}
	}
}
.demo5_14 {
	div {
		&:empty {
			height: 20px;
			background-color: red;
		}
	}
}
.demo5_15 {
	input {
		&:not([type="submit"]) {
			color: red;
		}
	}
}
.demo5_16 {
	&::first-line {
		background-color: #000;
		color: #fff;
	}
}
.demo5_17 {
	&::first-letter {
		background-color: #000;
		color: #fff;
	}
}
.demo5_18 {
	&::before {
		content: 'insert before';
		background-color: #000;
		color: #fff;
	}
}
.demo5_19 {
	&::after {
		content: 'insert after';
		background-color: #000;
		color: #fff;
	}
}

.demo5_20 :target {
  	background-color: #000;
	color: #fff;
}

/*selector*/

/*center*/
.demo6_1,.demo6_2,.demo6_3,.demo6_4,.demo6_5 {
	position: relative;
	width: 200px;
	height: 200px;
	font-size: 12px;
	background-color: lightgray;
}
.demo6_1 {
	p {
		position: absolute;
		background-color: skyblue;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
}
.demo6_2 {
	p {
		display: table;
		margin: 0 auto;
		background-color: skyblue;
	}
}
.demo6_3 {
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		background-color: skyblue;
	}
}
.demo6_4 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	p {
		background-color: skyblue;
	}
}
.demo6_5 {
	p {
		width: 100px;
		height: 100px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: skyblue;
	}
}

/*center*/

/*form*/
.demo7_1{
  
}
/*form*/

/*css3 loading*/
.demo8_1 {
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 12px;
	& > div {
		background-color: #333;
		height: 100%;
		width: 6px;
		display: inline-block;
		-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
		animation: sk-stretchdelay 1.2s infinite ease-in-out;
	}
	.rect2 {
		-webkit-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}
	.rect3 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}
	.rect4 {
		-webkit-animation-delay: -0.9s;
		animation-delay: -0.9s;
	}
	.rect5 {
		-webkit-animation-delay: -0.8s;
		animation-delay: -0.8s;
	}
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.demo8_2 {
	width: 70px;
	text-align: center;
	& > div {
		width: 18px;
		height: 18px;
		background-color: #333;
		border-radius: 100%;
		display: inline-block;
		-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}
	.bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}
	.bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.demo8_3 {
	position: relative;
	div {
		width: 24px;
		height: 24px;
		border: 2px solid #000;
		border-top-color: transparent;
		border-radius: 50%;
		-webkit-animation: ploading 0.6s linear infinite;
		animation: ploading 0.6s linear infinite;
	}
}

@keyframes ploading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ploading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*css3 loading*/

/*css3 scrollbar*/
.demo9_1 {
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #555;
    }
}
/*定义滚动条轨道 内阴影+圆角*/
/*定义滑块 内阴影+圆角*/
.demo9_2 {
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(left, #96a6bf, #63738c);
        -webkit-box-shadow: inset 0 0 1px 1px #5c6670;
        box-shadow: inset 0 0 1px 1px #5c6670;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #eee;
        -webkit-box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3);
        box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3);
    }
}
.demo9_3 {
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(left, #fff, #e4e4e4);
        border: 1px solid #aaa;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0,0,0,0.1);
        border: 1px solid #ccc;
    }
}
/*扩展*/
/* .demo9_1::-webkit-scrollbar-track-piece:start {
			background: red;
			滚动条上半边或左半边的背景色
		} */
/* .demo9_1::-webkit-scrollbar-track-piece:end {
			滚动条下半边或右半边的背景色
			background: red;
		} */
/* .demo9_1::-webkit-scrollbar-button {滚动条的轨道的两端按钮
			background: green;
		} */
/*扩展*/
.demo9_1,.demo9_2,.demo9_3 {
    width: 200px;
    max-height: 200px;
    overflow: auto;
}

/*css3 scrollbar*/

/*css3 美化表单元素*/

@keyframes hover-color {
  from {
    border-color: #c0c0c0;
  }
  to {
    border-color: #3e97eb;
  }
}

.demo10_1 div,.demo10_2 div{
	margin-bottom: 10px;
}

/*显式*/
.magic-radio, .magic-checkbox ,.magic-switch {
    position: absolute;
    display: none;
}
.magic-radio[disabled], .magic-checkbox[disabled],.magic-switch[disabled] {
    cursor: not-allowed;
}
.magic-radio + label, .magic-checkbox + label {
    position: relative;
    display: block;
    padding-left: 30px;
    cursor: pointer;
    vertical-align: middle;
}
.magic-radio + label:hover:before, .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color;
}
.magic-radio + label:before, .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #c0c0c0;
}
.magic-radio + label:after, .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: '';
}
.magic-radio[disabled] + label, .magic-checkbox[disabled] + label, .magic-switch[disabled] + label {
    cursor: not-allowed;
    color: #e4e4e4;
}
.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after, .magic-checkbox[disabled] + label:hover, .magic-checkbox[disabled] + label:before, .magic-checkbox[disabled] + label:after {
    cursor: not-allowed;
}
.magic-radio[disabled] + label:hover:before, .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none;
}
.magic-radio[disabled] + label:before, .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4;
}
.magic-radio:checked + label:before, .magic-checkbox:checked + label:before {
    animation-name: none;
}
.magic-radio:checked + label:after, .magic-checkbox:checked + label:after {
    display: block;
}
/*显式-radio*/
.magic-radio {
    & + label {
        &:before {
            border-radius: 50%;
        }
        &:after {
            top: 6px;
            left: 6px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #3e97eb;
        }
    }
    &:checked {
        & + label {
            &:before {
                border: 1px solid #3e97eb;
            }
        }
    }
    &:checked[disabled] {
        & + label {
            &:before {
                border: 1px solid #c9e2f9;
            }
            &:after {
                background: #c9e2f9;
            }
        }
    }
}
/*显式-checkbox*/
.magic-checkbox {
    & + label {
        &:before {
            border-radius: 3px;
        }
        &:after {
            top: 2px;
            left: 7px;
            box-sizing: border-box;
            width: 6px;
            height: 12px;
            transform: rotate(45deg);
            border-width: 2px;
            border-style: solid;
            border-color: #fff;
            border-top: 0;
            border-left: 0;
        }
    }
    &:checked {
        & + label {
            &:before {
                border: #3e97eb;
                background: #3e97eb;
            }
        }
    }
    &:checked[disabled] {
        & + label {
            &:before {
                border: #c9e2f9;
                background: #c9e2f9;
            }
        }
    }
}
/*显式-switch*/
.magic-switch[disabled] {
    & + label {
        background-color: #e8e8e8;
        border: solid 1px #dfdfdf;
        &:before {
            background-color: #c1c1c1;
        }
    }
}
.magic-switch[disabled]:checked {
    & + label {
        background-color: #e8e8e8;
        box-shadow: #e8e8e8 0 0 0 16px inset;
        border: solid 1px #dfdfdf;
        &:before {
            background-color: #c1c1c1;
        }
    }
}
.magic-switch {
    & + label {
        width: 50px;
        height: 25px;
        position: relative;
        border: 1px solid #dfdfdf;
        background-color: #fdfdfd;
        box-shadow: #dfdfdf 0 0 0 0 inset;
        border-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-clip: content-box;
        display: inline-block;
        -webkit-appearance: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        cursor: pointer;
        &:before {
            content: '';
            width: 23px;
            height: 23px;
            position: absolute;
            top: 1px;
            left: 1px;
            border-radius: 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: #fff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        }
    }
    &:checked {
        & + label {
            border-color: #3e97eb;
            box-shadow: #3e97eb 0 0 0 16px inset;
            background-color: #3e97eb;
            &:before {
                left: 27px;
            }
        }
    }
    &.magic-switch-animbg {
        -webkit-transition: background-color ease 0.4s;
        transition: background-color ease 0.4s;
        & + label {
            &:before {
                -webkit-transition: left 0.3s;
                transition: left 0.3s;
            }
        }
        &:checked {
            & + label {
                box-shadow: #dfdfdf 0 0 0 0 inset;
                background-color: #3e97eb;
                -webkit-transition: border-color 0.4s, background-color ease 0.4s;
                transition: border-color 0.4s, background-color ease 0.4s;
                &:before {
                    -webkit-transition: left 0.3s;
                    transition: left 0.3s;
                }
            }
        }
    }
}

/* 隐式-radio */
label {
    &.bui-radios-label {
        cursor: pointer;
        input {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            &:checked {
                & + .bui-radios {
                    background: #00b066;
                    border: 1px solid #00b066;
                    &:after {
                        position: absolute;
                        content: "";
                        width: 7px;
                        height: 7px;
                        background-color: #fff;
                        border-radius: 50%;
                        top: 3px;
                        left: 3px;
                    }
                }
            }
            &:disabled {
                & + .bui-radios {
                    background-color: #e8e8e8;
                    border: solid 1px #979797;
                }
                &:checked {
                    & + .bui-radios {
                        &:after {
                            background-color: #c1c1c1;
                        }
                    }
                }
            }
        }
        .bui-radios {
            display: inline-block;
            position: relative;
            width: 13px;
            height: 13px;
            background: #ffffff;
            border: 1px solid #979797;
            border-radius: 50%;
            vertical-align: -2px;
        }
        &.bui-radios-anim {
            .bui-radios {
                -webkit-transition: background-color ease-out .3s;
                transition: background-color ease-out .3s;
            }
        }
    }
	
	/* 隐式-checkbox */
    &.bui-checkbox-label {
        cursor: pointer;
        input {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            &:checked {
                & + .bui-checkbox {
                    background: #00b066;
                    border: 1px solid #00b066;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 4px;
                        box-sizing: border-box;
                        width: 5px;
                        height: 10px;
                        transform: rotate(45deg);
                        border-width: 2px;
                        border-style: solid;
                        border-color: #fff;
                        border-top: 0;
                        border-left: 0;
                    }
                }
            }
            &:disabled {
                & + .bui-checkbox {
                    background-color: #e8e8e8;
                    border: solid 1px #979797;
                }
                &:checked {
                    & + .bui-checkbox {
                        &:after {
                            color: #c1c1c1;
                        }
                    }
                }
            }
        }
        .bui-checkbox {
            display: inline-block;
            position: relative;
            width: 13px;
            height: 13px;
            background: #ffffff;
            border: 1px solid #979797;
            border-radius: 2px;
            vertical-align: -2px;
        }
        &.bui-checkbox-anim {
            .bui-checkbox {
                -webkit-transition: background-color ease-out .3s;
                transition: background-color ease-out .3s;
            }
        }
    }

    
	/*隐式-switch*/
    &.bui-switch-label {
        cursor: pointer;
        input {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            &:disabled {
                & + .bui-switch {
                    background-color: #e8e8e8;
                    border: solid 1px #dfdfdf;
                    cursor: not-allowed;
                    &:before {
                        background-color: #c1c1c1;
                    }
                }
                &:checked {
                    & + .bui-switch {
                        background-color: #e8e8e8;
                        box-shadow: #e8e8e8 0 0 0 16px inset;
                        border: solid 1px #dfdfdf;
                        &:before {
                            background-color: #c1c1c1;
                        }
                    }
                }
            }
            &:checked {
                & + .bui-switch {
                    border-color: #64bd63;
                    box-shadow: #64bd63 0 0 0 16px inset;
                    background-color: #64bd63;
                    &:before {
                        left: 27px;
                    }
                }
            }
        }
        .bui-switch {
            width: 50px;
            height: 25px;
            position: relative;
            border: 1px solid #dfdfdf;
            background-color: #fdfdfd;
            box-shadow: #dfdfdf 0 0 0 0 inset;
            border-radius: 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-clip: content-box;
            display: inline-block;
            -webkit-appearance: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            outline: none;
            &:before {
                content: '';
                width: 23px;
                height: 23px;
                position: absolute;
                top: 1px;
                left: 1px;
                border-radius: 20px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                background-color: #fff;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
            }
        }
        &.bui-switch-anim {
            -webkit-transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
            transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
            .bui-switch {
                &:before {
                    -webkit-transition: left 0.3s;
                    transition: left 0.3s;
                }
            }
            input {
                &:checked {
                    & + .bui-switch {
                        box-shadow: #64bd63 0 0 0 16px inset;
                        background-color: #64bd63;
                        -webkit-transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
                        transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
                        &:before {
                            -webkit-transition: left 0.3s;
                            transition: left 0.3s;
                        }
                    }
                }
            }
        }
        &.bui-switch-animbg {
            -webkit-transition: background-color ease 0.4s;
            transition: background-color ease 0.4s;
            .bui-switch {
                &:before {
                    -webkit-transition: left 0.3s;
                    transition: left 0.3s;
                }
            }
            input {
                &:checked {
                    & + .bui-switch {
                        box-shadow: #dfdfdf 0 0 0 0 inset;
                        background-color: #64bd63;
                        -webkit-transition: border-color 0.4s, background-color ease 0.4s;
                        transition: border-color 0.4s, background-color ease 0.4s;
                        &:before {
                            -webkit-transition: left 0.3s;
                            transition: left 0.3s;
                        }
                    }
                }
            }
        }
    }
}


/*css3 美化表单元素*/